.flip-horizontal-bottom {
	animation: flip-horizontal-bottom 0.4s ease-in-out both;
}

@keyframes flip-horizontal-bottom {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-180deg);
  }
}
