@keyframes scroll-text {
    0% {
        transform: translateX(calc(1 *var(--scroll-offset)));; /* Start at the right side (off-screen) */
      }
      100% {
        transform: translateX(calc(-1 * (var(--scroll-distance) + var(--scroll-offset)))); /* Move completely to the left side */
      }
  }
  

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(0);
    }
    45% {
      transform: translateX(calc(-1 * var(--scroll-distance * 0.5)));
    }
    55% {
      transform: translateX(calc(-1 * var(--scroll-distance)));
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .scrolling-text {
    display: inline-flex;
  animation: scroll-text 10s linear infinite;
text-overflow: clip;
  }
