@keyframes scroll-text {
    0% {
        transform: translateX(100%); /* Start at the right side (off-screen) */
      }
      100% {
        transform: translateX(-100%); /* Move completely to the left side */
      }
  }
  

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(0);
    }
    45% {
      transform: translateX(calc(-1 * var(--scroll-distance)));
    }
    55% {
      transform: translateX(calc(-1 * var(--scroll-distance)));
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .scrolling-text {
    display: inline-flex;
  animation: scroll 30s ease-in-out infinite;
text-overflow: clip;
  }
